@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

/* Style général pour la navbar */
body {
  background-color: #f0f0f0; /* Light gray background */
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #1b365c; /* Couleur de fond bleu foncé */
  padding: 1rem 2rem; /* Espacement intérieur */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

/* Menu Hamburger (Mobile) */
.menu-toggle {
  display: none; /* Cacher sur desktop */
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

/* Logo */
.logo-img {
  height: 80px;
  width: 100%;
  z-index:100;
}

/* Boutons */
.buttons {
  display: flex;
  gap: 1rem; /* Espacement entre les boutons */
}

/* Style de base des boutons */
.btn {
  padding: 12px 15px;
  /* Coins arrondis */
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 900;
}

/* Bouton "Become a Client" */
.client-btn {
  background-color: #4f70a5;
}

.client-btn:hover {
  background-color: #134679; /* Bleu plus foncé au survol */
}

/* Bouton "Subscribe" */
.subscribe-btn {
  background-color: #4f70a5;
}

.subscribe-btn:hover {
  background-color: #134679;  /* Violet plus foncé au survol */
}

/* Bouton "Login" */
.login-btn {
  background-color: #4f70a5; /* Gris pour le bouton "Login" */
}

.login-btn:hover {
  background-color: #4b5563; /* Gris plus foncé au survol */
}

/* Styles mobiles : Menu hamburger */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .buttons {
    display: none; /* Masquer les boutons sur mobile */
  }
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (sub-buttons) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show dropdown content when hovering over the parent */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for the sub-buttons inside the dropdown */
.dropdown-content .btn {
  background-color: #7e9bca;
  color: white;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-content .btn:hover {
  background-color: #3a6d9f;
}

/* Style for the main button in the dropdown */
.dropdown .btn {
  background-color: #4f70a5;
  color: white;
  padding: 12px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 900;
}

.dropdown .btn:hover {
  background-color: #134679;
}
